.content-about{
  position: relative;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: rgba(0,198,255,1);
  box-shadow: 0px 1px 20px 0px rgba(105, 105, 105,1);
  padding: 2em;


  header{
    p{
      text-align: justify;
      margin: 1em 0 1em 0;
      color: white;
      letter-spacing: 0.05em;
      font-size: calc(0.2vw + 1.5vh);
    }

    h1{
      color: white;
      font-size: calc(1vw + 1.3vh);

      span{
        color: #E69915;
      }
    }
  }
  .description{
    li{
      color: white;
      margin-bottom: 1em;
      font-size: calc(0.2vw + 1.5vh);

      span{
        color: #E69915;
        font-weight: 700;
      }

    }
  }
}