footer{
  position: relative;
  font-size: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  transition: 0.5s ease-in-out;


  img{
    padding: 0.5em;
    width: calc(1vw + 3.2vh);
    height: calc(1vw + 3.2vh);
  }
  .networks{
    position: relative;
    display: flex;
    gap: 5em;
    align-items: center;

    .linkedin,.github{
      position: relative;
      cursor: pointer;
    }
    .linkedin::before{
      content: "LinkedIn";
    }
    .github::before{
      content: "GitHub";
    }
    .linkedin::before, .github::before{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(0em);
      width: 5em;
      height: 48px;
      background-color: white;
      color: rgba(0,198,255,1);
      box-shadow: 0px 1px 20px 0px rgba(105, 105, 105,1);
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    .linkedin:hover::before, .github:hover::before{
      opacity: 1;
      transform: translateX(-50%) translateY(-4em);
    }

  }
  .download{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;

    &:hover img{
      transform: translateY(-0.3em);
    }

    img{
      color: #E69915;
      transition: 0.3s ease-in-out;
    }
    a{
      font-size: 1em;
      color: rgba(0,198,255,1);
    }
  }
}