.presentation{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  h2{
    color: #E69915;
    text-transform: uppercase;
    font-size: calc(0.8vw + 1.2vh);
    letter-spacing: 0.1em;
  }

  p{
    margin-top: 1em;
    color: white;
    font-size: calc(1vw + 1.3vh);
    letter-spacing: 0.05em;
    font-weight: 700;
  }

  button{
    margin-top: 2em;
    background-color: #E69915;
    width: auto;
    height: auto;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;

    a{
      text-decoration: none;
      color: white;
      font-size: calc(0.5vw + 1.1vh);
      font-weight: 700;
      letter-spacing: 0.05em;
    }
  }

}